/** @format */

::-webkit-selection {
  background: #1a191e;
  color: white;
}
::-moz-selection {
  background: #1a191e;
  color: white;
}
::-ms-selection {
  background: #1a191e;
  color: white;
}
::-o-selection {
  background: #1a191e;
  color: white;
}
::selection {
  background: #1a191e;
  color: white;
}
html {
  font-size: 10px;
}
body {
  overflow: hidden;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-color: white;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  -webkit-background-size: cover;
  background-size: cover;
}
body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 1.7rem 0;
  background-color: white;
  -webkit-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.16);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.16);
  margin-bottom: 15vh;
  z-index: 3;
}
header .wrapper {
  width: 96rem;
  margin: auto;
}
header img {
  display: inline-block;
  position: relative;
  height: 2.7rem;
  margin-right: 1rem;
  vertical-align: middle;
}
header .logo-github {
  float: right;
}
a,
a:visited {
  color: #1a191e;
}
a:hover,
a:focus,
a:visited:hover,
a:visited:focus {
  color: #b4cc93;
}
main {
  display: block;
  position: relative;
  z-index: 2;
}
form {
  display: block;
  position: relative;
  width: 80rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  padding: 5rem;
  background-color: white;
  -webkit-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.16);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.16);
}
form p {
  margin-bottom: 4rem;
  font-size: 2.5rem;
  font-weight: 600;
}
.form-part-1,
.form-part-2 {
  display: inline-block;
  position: relative;
  width: 47%;
  vertical-align: top;
}
.form-part-2 {
  margin-left: 5.6%;
}
input,
textarea {
  padding: 1rem 1.2rem;
  background-color: #1a191e;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1.2rem;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 0.3rem solid white;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: white;
}
input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border-bottom: 0.3rem solid #b4cc93;
}
input {
  height: 4rem;
  width: 100%;
  margin-bottom: 1.8rem;
}
textarea {
  width: 100%;
  max-width: 100%;
  height: 15.5rem;
}
input[type='submit'] {
  width: auto;
  padding: 0.7rem 3rem;
  margin-top: 1.8rem;
  margin-bottom: 0;
  background: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #b4cc93;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
input[type='submit']:hover,
input[type='submit']:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #c1db9e;
}
::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}
::-moz-placeholder {
  color: white;
  opacity: 1;
}
:-ms-input-placeholder {
  color: white;
  opacity: 1;
}
:-moz-placeholder {
  color: white;
  opacity: 1;
}
.form-info,
.form-ok,
.form-error {
  position: relative;
  width: 80rem;
  margin: auto;
  padding: 2rem 3rem;
  margin-bottom: 2rem;
  background-color: white;
  line-height: 1.8rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #b4cc93;
  display: none;
}
.form-ok {
  display: block;
  color: #1a191e;
}
.form-error {
  display: block;
  color: #de7575;
}
footer {
  display: block;
  z-index: 1;
}
footer p {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  line-height: 1.7rem;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0.2rem 0rem 0.2rem #000;
}
